<div class="stats-cards">
  <div class="stat glass">
    <div class="label">Guilds</div>
    <div class="value" data-metric="guilds"><%= status.guilds %></div>
  </div>
  <div class="stat glass">
    <div class="label">Users</div>
    <div class="value" data-metric="users"><%= status.users %></div>
  </div>
  <div class="stat glass">
    <div class="label">Latency</div>
    <div class="value" data-metric="latency">--</div>
  </div>
  <div class="stat glass">
    <div class="label">CPU</div>
    <div class="value" data-metric="cpu">--</div>
  </div>
</div>
