<!DOCTYPE html><html><head><meta charset='utf-8'><title>Invite - MLVS</title><link rel="stylesheet" href="/home/css/home.css"></head><body class="page-invite"><h1>Invite MLVS</h1><p>Invite instructions placeholder. (Recreate full content as needed.)</p></body></html>
